<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<section>
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-9">
        <!-- <div class="card card-01">
          <div class="card-body"> -->
        <form [formGroup]="form">
          <angular-editor autofocus="true" id="editor2" formControlName="signature" [config]="config1"
            (ngModelChange)="onChange2($event)">
          </angular-editor>
        </form>
      </div>
    </div>
    <div class="valid">
      <p>
        Form Value: {{ form.value.signature}}
      </p>
      <p>
        Form Status: {{ form.status }}
      </p>
    </div>
  </div>
  <!-- </div>
  </div> -->
</section>